##ALIASES

#Clock
function __advanceClock() {sudo date --set="$@ day"}
alias advanceClock="__advanceClock"
alias rsClock="sudo hwclock --hctosys;sudo date --set='-1 hour'"
alias clock='date +%T'

#General
alias reload='. ~/.zshrc'
alias _='sudo'
alias aliases='ema ~/.aliases'
alias emacsBind='em ~/.emacs.d/perso/bind.el'
alias emacsD='em ~/.emacs'
alias rs='reset'
alias shutdown='sudo /sbin/shutdown'
alias reboot='sudo /sbin/reboot'

#Github
alias gc='git commit -m'
alias gca='git commit -am'
alias gph='git push'
alias gpl='git pull'
alias gl='git log'
alias ga='git add'

function __cpConfig() {
        cp ~/.emacs ~/configPortable
        cp -rf ~/.emacs.d ~/configPortable 
        cp ~/.zle.zsh ~/configPortable
        cp ~/.zshrc ~/configPortable
        cp ~/.aliases ~/configPortable
}
alias cpConfig="__cpConfig"

#Launcher

function __emacs() {emacs "$@" & disown}
alias -g em='__emacs'
alias -g ema='emacs -nw'
alias py3='python3'
alias py='python'
alias timer='python2 /home/mathieu/Documents/Github/Timer/timer.py& disown'
alias guitar='cd /home/mathieu/Documents/App/Yousician\ Launcher; ./Yousician\ Launcher & disown'
alias guitaradvance="sudo date --set='1 day'; cd /home/mathieu/Documents/App/Yousician\ Launcher; ./Yousician\ Launcher & disown"
function __evince() {evince "$@" & disown}
alias ev='__evince'
alias op='xdg-open'
alias cleanAll='cd ~; rm **/*~; cd -'
alias clean='rm **/*~'
alias battery='sudo powertop --auto-tune'
alias matlab='matlab -softwareopengl &; disown %matlab'

function __compileWithBib() {pdflatex "$@".tex; bibtex "$@"; pdflatex "$@".tex; pdflatex "$@".tex;}
alias compileWithBib='__compileWithBib'

                                
#Navigation
alias github='cd ~/Documents/Github'
alias dat='cd ~/Documents/Github/dat-eeg/code'
alias rap='cd ~/Documents/Github/dat-eeg/rapport/5603834gfdxvd/'
alias tod='cd ~/Documents/Github/dat-eeg/code/MyTest/'
alias run='op ~/Images/Sport/1-3.png'
alias master='~/Documents/Master'
alias papier='~/Documents/Papiers\ Importants'


        
alias stage='cd ~/Documents/enstage'

alias datCpSend='dat; cd ..; tar -cf code.tar code/*.py; scp code.tar seurin@gate-ia.lip6.fr:~'

function __cpTemplateAndRename() {cp ~/configPortable/template.tex .;mv template.tex ./"$1"}
alias templateTex='__cpTemplateAndRename'
                        
#Network
alias rswifi='sudo service network-manager restart'
alias pingg='ping google.com'
alias jussieu='ssh 3504761@ssh.ufr-info-p6.jussieu.fr'
        
#Package Manager
alias agi='sudo apt-get install'
alias agr='sudo apt-get remove'
alias agug='sudo apt-get upgrade'
alias agud='sudo apt-get update'
alias aga='sudo apt-get autoremove'


#Small Script
function __splitFlac() {
        cat "$1" | shnsplit -o flac -t "%n - %p - %t" "$2"
        cuetag "$1" *.flac
}


function __flacToMp3() {for f in *.flac; do avconv -i "$f" -qscale:a 0  -map_metadata 0 -id3v2_version 3 "${f%.*}.mp3"; done}

function __splitAndConvert() {__splitFlac $1 $2;  __flacToMp3 }


                
alias splitFlac=__splitFlac
alias flac2Mp3=__flacToMp3
alias splitAndConvert=__splitAndConvert
